<header>
  <div class="container-fluid jumbotron">
    <h1>Hike Local</h1>
  </div>
</header>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class='navbar-header'>
      {{#link-to 'index' class="navbar-brand"}}Home{{/link-to}}
      {{#link-to 'admin' class="navbar-brand"}}Admin{{/link-to}}
      {{#link-to 'favorites' class="navbar-brand"}}Favorite Hikes{{/link-to}}
    </div>
  </div>
</nav>


<div class="container">
  {{outlet}}
</div>
