{{hike-details hike=model.hikes}}
<br>
<h3>Reviews</h3>
<hr>
<br>
{{add-review review=model.reviews hike=model.hikes saveReview='saveReview'}}

{{review-tile review=model.reviews hike=model.hikes deleteReview="deleteReview"}}
<br>
<br>
