<p class="welcome">Welcome to Hike Local! This is a website for residents of Portland, OR and the surrounding area to find information about and leave reviews for hikes in the area. You can use the filter below to display hikes based on difficulty!</p>

{{hike-list model=model}}
