<div class="row">
  <div class="display col-md-7">
    {{#each model as |hike|}}
      {{hike-tile hike=hike}}<hr>
    {{/each}}
  </div>

  <!-- <div class="col-md-5">
    {{new-hike saveHike="saveHike"}}
  </div> -->
</div>
